{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}All clients{% endblock %}

{% block content %}
{% include 'includes/header_vet.html'%}
<div class="container-fluid">
  <div class="col-12">
    <h2 class="mt-3">All clients</h2>
    <div class="col-12">
      <form class="row align-items-end" method="GET">
        {{ filter.form|crispy }}
        <button class="btn btn-outline-secondary ml-3 mb-3" type="submit">Search</button>
      </form>
    </div>
    <div class="table-responsive">
      <table class="table mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Client</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Direction</th>
            <th scope="col">Comments</th>
            <th scope="col">Join date</th>
          </tr>
        </thead>
        <tbody>
          {% for client in object_list %}
          <tr>
            <td>{{ client.user.username }}</td>
            <td>{{ client.user.first_name }}</td>
            <td>{{ client.user.last_name }}</td>
            <td>{{ client.clinic.town }} {{ client.clinic.street }} {{ client.clinic.local_number }}</td>
            <td>{{ client.comments }}</td>
            <td>{{ client.created|date:'d-m-Y H:i' }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}