{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row col-12 justify-content-md-center">
    <div class="row align-items-center justify-content-sm-center justify-content-center">
        <div class="col-md-6 col-sm-11 col-11">
            <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-6 col-sm-11 col-11">
            <h2>Login</h2>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-success float-right">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}