<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}VetApp{% endblock %}</title>
</head>
<body>
  <main style="margin-bottom: 70px;">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {{ form.media }}
    {{ filter.form.media }}
    {% block content %}
    {% endblock %}
  </main>
  {% include 'includes/footer.html'%}
</body>
</html>