{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% include 'includes/header_client.html'%}
<div class="container-fluid">
  {% if object %}
  <h2 class="mt-3">Your next appointment</h2>
  <div class="row mt-3">
    <div class="col-md-10 col-12">
      <div class="row">
        <div class="table-responsive col-md-6 col-12">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Attendant</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Username: {{ object.attendant.user.username}}</td>
              </tr>
              <tr>
                <td>First name: {{ object.attendant.user.first_name}}</td>
              </tr>
              <tr>
                <td>Last name: {{ object.attendant.user.last_name}}</td>
              </tr>
              {% if object.attendant.specializations %}
              <tr>
                <td>Specializations: {{ object.attendant.specializations }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <div class="table-responsive col-md-6 col-12">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Clinic</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Email: {{ object.clinic.email }}</td>
              </tr>
              <tr>
                <td>Phone number: {{ object.clinic.phone_number }}</td>
              </tr>
              <tr>
                <td>Direction:  {{ object.clinic.town }} {{ object.clinic.street }} {{ object.clinic.local_number }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive col-md-6 col-12">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Pet</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="{{ object.pet.photo.url }}">
                    <img style="height: 150px;" src="{{ object.pet.photo.url }}">
                  </a>
                </td>
              </tr>
              <tr>
                <td>Name: {{ object.pet.pet_name }}</td>
              </tr>
              {% if object.pet.xip %}
              <tr>
                <td>Xip: {{ object.pet.xip }}</td>
              </tr>
              {% endif %}
              <tr>
                <td>Born date: {{ object.pet.born_date }}</td>
              </tr>
              <tr>
                <td>Weight: {{ object.pet.weight }}</td>
              </tr>
              <tr>
                <td>Height: {{ object.pet.height }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive col-md-6 col-12">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Appointment</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Date: {{ object.date_time }}</td>
              </tr>
              {% if object.comments %}
              <tr>
                <td>Comments: {{ object.comments }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2">
      <a href="{% url 'add_new_appointment' %}" class="btn btn-block btn-outline-success mb-3">Request new</a>
      <a href="{% url 'cancel_appointment' pk=object.pk %}" class="btn btn-block btn-outline-danger">Cancel this</a>
    </div>
  </div>
  {% else %}
  <h2 class="mt-3">You have no next appointments</h2>
  <a href="{% url 'add_new_appointment' %}" class="btn btn-outline-success mb-3">Request an appointment</a>
  {% endif %}
</div>
{% endblock %}