<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Appointment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Attendant: {{ view.get_appointment.attendant.user.username }}</td>
      </tr>
      <tr>
        <td>First name: {{ view.get_appointment.attendant.user.first_name }}</td>
      </tr>
      <tr>
        <td>Last name: {{ view.get_appointment.attendant.user.last_name }}</td>
      </tr>
      <tr>
        <td>Clinic email: {{ view.get_appointment.clinic.email }}</td>
      </tr>
      <tr>
        <td>Clinic direction: {{ view.get_appointment.clinic.town }} {{ view.get_appointment.clinic.street }} {{ view.get_appointment.clinic.local_number }}</td>
      </tr>
      <tr>
        <td>Pet name: {{ view.get_appointment.pet.pet_name }}</td>
      </tr>
      <tr>
        <td>Xip: {{ view.get_appointment.pet.xip }}</td>
      </tr>
      {% if view.get_appointment.date_time %}
      <tr>
        <td>Date: {{ view.get_appointment.date_time|date:'d-m-Y H:i' }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>