<footer class=" bg-dark page-footer font-small fixed-bottom">

  <!-- Copyright -->
  <div class="text-white footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Daaxplus.com</a>
  </div>
  <!-- Copyright -->

</footer>