{% load static %}
<!--Navbar-->
<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #00a851">

  <!-- Navbar brand -->
    <a class="navbar-brand" href="{% url 'index' %}">
        <img style="height: 75px; filter: invert(100%);" src="{% static 'images/logo.png' %}" class="img-fluid" alt="Responsive image">
    </a>

  <!-- Collapse button -->
  <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" id="appointmentsDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Appointments</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="appointmentsDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'add_emergency_appointment' %}">Add emergency appointment</a>
              <a class="dropdown-item" href="{% url 'rejected_appointments' %}">Rejected appointments</a>
              <a class="dropdown-item" href="{% url 'all_appointments' %}">All appointments</a>
            </div>
          </li>
        </ul>
        
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'all_pets' %}">All Pets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'all_clients' %}">All Clients</a>
      </li>
      <!-- Dropdown -->
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" id="userDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Logged as {{ user.get_username }}</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="userDropdownMenuLink">
          <a class="dropdown-item" href="#">Your profile</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
        </div>
      </li>
    </ul>
    <!-- Links -->
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->