{% extends 'base.html' %}

{% block title %}Your pets{% endblock %}

{% block content %}
{% include 'includes/header_client.html'%}
<div class="container-fluid">
  <div class="col-12">
    <a href="{% url 'add_new_pet' %}" class="btn btn-outline-success float-right mt-3">Add new pet</a>
    <h2 class="mt-3">Your pets</h2>
    <div class="table-responsive">
      <table class="table mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Xip</th>
            <th scope="col">Born date</th>
            <th scope="col">Weight</th>
            <th scope="col">Height</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for pet in object_list %}
          <tr>
            <td>
              <a href="{{ pet.photo.url }}">
                <img style="height: 150px;" src="{{ pet.photo.url }}">
              </a>
            </td>
            <td>{{ pet.pet_name }}</td>
            <td>{{ pet.xip|default:'' }}</td>
            <td>{{ pet.born_date }}</td>
            <td>{{ pet.weight }}</td>
            <td>{{ pet.height }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}