{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Accept date{% endblock %}

{% block content %}
{% include 'includes/header_client.html'%}
<div class="col-md-6 col-12">
  <h2 class="mt-3">Are you sure about accepting this date?</h2>
  <p>{{ view.get_potential|date:'d-m-Y H:i' }}</p>
  <form method="POST" class="post-form">
    {% csrf_token %}
    <button type="submit" class="save btn btn-primary float-right">Accept</button>
  </form>
</div>
{% endblock %}