{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Emergency appointment{% endblock %}

{% block content %}
{% include 'includes/header_vet.html'%}
<div class="col-md-6 col-12">
  <h2 class="mt-3">Emergency appointment</h2>
  <form method="POST" class="post-form">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="save btn btn-success float-right">Add</button>
  </form>
</div>
{% endblock %}