{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}
{% include 'includes/header_client.html'%}
<div class="col-md-6 col-12">
  <h2 class="mt-3">New appointment</h2>
  <form method="POST" class="post-form">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="save btn btn-success float-right">Add</button>
  </form>
</div>
{% endblock %}