{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}All appointments{% endblock %}

{% block content %}
{% include 'includes/header_vet.html'%}
<div class="container-fluid">
  <div class="col-12">
    <h2 class="mt-3">All appointments</h2>
    <div class="col-12">
      <form class="row align-items-end" method="GET">
        {{ filter.form|crispy }}
        <button class="btn btn-outline-secondary ml-3 mb-3" type="submit">Search</button>
      </form>
    </div>
    <div class="table-responsive">
      <table class="table mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Attendant</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Clinic</th>
            <th scope="col">Direction</th>
            <th scope="col">Client</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Pet name</th>
            <th scope="col">Xip</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for appointment in object_list %}
          {% if appointment.status == 'cancelled' %}
          <tr class="table-danger">
          {% elif appointment.status == 'accepted'%}
          <tr class="table-success">
          {% elif appointment.status == 'rejected' %}
          <tr class="table-danger">
          {% else %}
          <tr class="table-primary">
          {% endif %}
            <td>{{ appointment.attendant.user.username }}</td>
            <td>{{ appointment.attendant.user.first_name }}</td>
            <td>{{ appointment.attendant.user.last_name }}</td>
            <td>{{ appointment.clinic.email }}</td>
            <td>{{ appointment.clinic.town }} {{ appointment.clinic.street }} {{ appointment.clinic.local_number }}</td>
            <td>{{ appointment.pet.owner.user.username }}</td>
            <td>{{ appointment.pet.owner.user.first_name }}</td>
            <td>{{ appointment.pet.owner.user.last_name }}</td>
            <td>{{ appointment.pet.pet_name }}</td>
            <td>{{ appointment.pet.xip }}</td>
            <td>{{ appointment.date_time|date:'d-m-Y H:i' }}</td>
            <td>{{ appointment.status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}