{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cancel appointment{% endblock %}

{% block content %}
{% include 'includes/header_client.html'%}
<div class="col-md-6 col-12">
  <h2 class="mt-3">Are you sure about cancelling this appointment?</h2>
  {% include 'includes/appointment_card.html'%}
  <form method="POST" class="post-form">
    {% csrf_token %}
    <button type="submit" class="save btn btn-danger float-right">Cancel</button>
  </form>
</div>
{% endblock %}