{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reject appointment{% endblock %}

{% block content %}
{% include 'includes/header_client.html'%}
<div class="col-md-6 col-12">
  <h2 class="mt-3">Are you sure about rejecting the dates?</h2>
  <a href="{% url 'accept_date' pk=view.get_appointment.pk potential=1 %}" class="btn btn-outline-primary">{{ view.get_appointment.potential1|date:'d-m-Y H:i' }}</a>
  <a href="{% url 'accept_date' pk=view.get_appointment.pk potential=2 %}" class="btn btn-outline-primary">{{ view.get_appointment.potential2|date:'d-m-Y H:i' }}</a>
  <a href="{% url 'accept_date' pk=view.get_appointment.pk potential=3 %}" class="btn btn-outline-primary">{{ view.get_appointment.potential3|date:'d-m-Y H:i' }}</a>
  <form method="POST" class="post-form">
    {% csrf_token %}
    <button type="submit" class="save btn btn-danger float-right">Yes</button>
  </form>
</div>
{% endblock %}