{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}
{% include 'includes/header_vet.html'%}
<div class="container-fluid">
  <div class="col-12">
    <h2 class="mt-3">Reject appointments</h2>
    <div class="col-12">
      <form class="row align-items-end" method="GET">
        {{ filter.form|crispy }}
        <button class="btn btn-outline-secondary ml-3 mb-3" type="submit">Search</button>
      </form>
    </div>  
    <div class="table-responsive">
      <table class="table mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Attendant</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Clinic</th>
            <th scope="col">Direction</th>
            <th scope="col">Client</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Pet name</th>
            <th scope="col">Xip</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for appointment in object_list %}
          <tr>
            <td>{{ appointment.attendant.user.username }}</td>
            <td>{{ appointment.attendant.user.first_name }}</td>
            <td>{{ appointment.attendant.user.last_name }}</td>
            <td>{{ appointment.clinic.email }}</td>
            <td>{{ appointment.clinic.town }} {{ appointment.clinic.street }} {{ appointment.clinic.local_number }}</td>
            <td>{{ appointment.pet.owner.user.username }}</td>
            <td>{{ appointment.pet.owner.user.first_name }}</td>
            <td>{{ appointment.pet.owner.user.last_name }}</td>
            <td>{{ appointment.pet.pet_name }}</td>
            <td>{{ appointment.pet.xip }}</td>
            <td><a href="{% url 'set_potential_dates' pk=appointment.pk %}" class="btn btn-outline-primary">Set potential dates</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}