{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}
{% include 'includes/header_client.html'%}
<div class="container-fluid">
  <div class="col-12">
    <a href="{% url 'add_new_appointment' %}" class="btn btn-outline-success float-right mt-3">Request new</a>
    <h2 class="mt-3">Your potencial appointments</h2>
    <div class="col-12">
      <form class="row align-items-end" method="GET">
        {{ filter.form|crispy }}
        <button class="btn btn-outline-secondary ml-3 mb-3" type="submit">Search</button>
      </form>
    </div>  
    <div class="table-responsive">
      <table class="table mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Attendant</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Clinic</th>
            <th scope="col">Direction</th>
            <th scope="col">Pet name</th>
            <th scope="col">Xip</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for appointment in object_list %}
          <tr>
            <td>{{ appointment.attendant.user.username }}</td>
            <td>{{ appointment.attendant.user.first_name }}</td>
            <td>{{ appointment.attendant.user.last_name }}</td>
            <td>{{ appointment.clinic.email }}</td>
            <td>{{ appointment.clinic.town }} {{ appointment.clinic.street }} {{ appointment.clinic.local_number }}</td>
            <td>{{ appointment.pet.pet_name }}</td>
            <td>{{ appointment.pet.xip }}</td>
            <td>{{ appointment.status }}</td>
            {% if appointment.status == 'requested' %}
            <td><a href="{% url 'cancel_appointment' pk=appointment.pk %}" class="btn btn-outline-danger">Cancel</a></td>
            {% endif %}
            {% if appointment.status == 'potential' %}
            <td>
              <a href="{% url 'accept_date' pk=appointment.pk potential=1 %}" class="btn btn-outline-primary">{{ appointment.potential1|date:'d-m-Y H:i' }}</a>
              <a href="{% url 'accept_date' pk=appointment.pk potential=2 %}" class="btn btn-outline-primary">{{ appointment.potential2|date:'d-m-Y H:i' }}</a>
              <a href="{% url 'accept_date' pk=appointment.pk potential=3 %}" class="btn btn-outline-primary">{{ appointment.potential3|date:'d-m-Y H:i' }}</a>
              <a href="{% url 'reject_appointment' pk=appointment.pk %}" class="btn btn-outline-danger">Reject</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}